.site-list {
  display: flex;
}

.site-list__item {
  margin-right: 1px;

  @include media(mobile) {
    width: 33.3%;
  }
}

.site-list__link {
  display: flex;
  align-items: center;
  // background-color: ;
  justify-content: center;
  color: $color-brown-10;

  & svg {
    display: block;
  }
}